*{box-sizing: border-box;}
body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: '맑은 고딕', '돋움', Dotum, '굴림', Gulim, Sans-serif;
    color: #444;
}
.inner{
    width: 1700px;
    height: 100%; 
    background: rgba(0,0,0,.3);
    margin: 0 auto;
}
#header{
    width: 100%;
    height: 144.1px;
    /* background: red; */
    display: block;
}
#header .header_until{
  width: 100%;
  height: 44.1px;
  padding: 0 10px;
 /*  background: yellow; */
  
}
#header .header_until .inner{}
#header .header_until .inner .header_util_left{
  display: flex;
  
}
#header .header_until .inner .header_util_left img{
 margin-top: 10px;
 

}
#header .header_until .inner .header_util_left p{
  font-size: 13px;
  margin-top: 10px;
  padding-left: 10px;
  
 
}
#header .header_bottom{
  width: 100%;
  height: 100px;
  background: orange;
  border-top: 1px solid #d4d5dc;
 
}
#header .header_bottom .inner{
  display: flex;
 justify-content: space-between;
}
#header .header_bottom .inner h1{
  display: flex;
  
}
.header_logo{
  margin-top: 18px;
}
.header_slogan{
  margin: 32px 3px;
}
#header .header_bottom .inner h1>p>{
  margin: 32px 3px
}
.header_bottom_right{}
.header_bottom_right ul{
  display: flex;
  gap: 20px;
  text-decoration: none;
  
  
  
}
.header_bottom_right ul li{
    position: relative;
    float: left;
    position: relative;
    margin-top: 10px;
    font-size: 15px;
    
} 

.header_bottom_nav_main{
  
}
.header_bottom_nav_main>ul{
  display: flex;
  
}
.header_bottom_nav_main>ul>li{
  
}
.header_bottom_nav_main>ul>li>a{}
.header_bottom_nav_main>ul>li>ul{
  
}
.header_bottom_nav_main>ul>li>ul>li{
  overflow: hidden;
}
.header_bottom_nav_main>ul>li>ul>li>a{
  
}

.login{
    display: block;
    height: 24px;
    line-height: 24px;
    padding: 0 30px 0 27px;
    
    text-decoration: none;
}
.login::after{
    content: '';
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 13px;
    bottom: 0;
    width: 0;
    height: 0;
    margin: auto;
    border: 4px solid transparent;
    border-bottom: 0;
    border-top-color: #353d47;
    transition: all .3s;
    line-height: 24px;
}

.btn_sitemap{
    float: left;
    overflow: hidden;
    width: 29px;
    height: 24px;
    margin: 9px 0 0 20px;
    background: url(../img/ico_sitemap.png) no-repeat 50% 50%;
    color: transparent;
}





#mainBox>.main_box1{
  width: 100%;
  height: 380px;
  background: blue;
}
#mainBox>.main_box2{
  width: 100%;
  height: 432.99px;
  background: violet;
}
#mainBox>.main_box3{
  width: 100%;
  height: 215.99px;
  background: green;
}
#mainBox>.main_box4{
  width: 100%;
  height: 410.97px;
  background: skyblue;
}
#mainBox>.main_box5{
  width: 100%;
  height: 495.99px;
  background: yellowgreen;
}
#mainBox>.main_box6{
  width: 100%;
  height: 107px;
  background: blueviolet;
}

#footer_T{
  width: 100%;
  height: 69.79px;
  background: burlywood;
}
#footer_B{
  width: 100%;
  height: 113.56px;
  background: pink;
}
