*{box-sizing: border-box;}
body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.inner{
    width: 1700px;
    height: 100%; 
    background: rgba(0,0,0,.3);
    margin: 0 auto;
}
#header{
    width: 100%;
    height: 144.1px;
    background: red;
    display: block;
}
#header .header_until{
  width: 100%;
  height: 44.1px;
  background: yellow;
}
#header .header_until .inner{}
#header .header_until .inner .header_util_left{}
#header .header_bottom{
  width: 100%;
  height: 100px;
  background: orange;
}
#header .header_bottom .inner{}


#mainBox>.main_box1{
  width: 100%;
  height: 380px;
  background: blue;
}
#mainBox>.main_box2{
  width: 100%;
  height: 432.99px;
  background: violet;
}
#mainBox>.main_box3{
  width: 100%;
  height: 215.99px;
  background: green;
}
#mainBox>.main_box4{
  width: 100%;
  height: 410.97px;
  background: skyblue;
}
#mainBox>.main_box5{
  width: 100%;
  height: 495.99px;
  background: yellowgreen;
}
#mainBox>.main_box6{
  width: 100%;
  height: 107px;
  background: blueviolet;
}

#footer_T{
  width: 100%;
  height: 69.79px;
  background: burlywood;
}
#footer_B{
  width: 100%;
  height: 113.56px;
  background: pink;
}
